<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Détails Projet</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

    <div class="container">


        <div class="row">
            <div class="one-half column" style="margin-top: 15%">
                <h4>Affichage projet</h4>
            </div>
        </div>

        <form action="/projects/update/{{project.getId}}" method="POST">
            <div class="row">            
                <div class="two columns">
                    <label for="name">Nom du Projet</label>
                </div>
                <div class="ten columns">
                    <input class="u-full-width" type="text" id="name" name="name" value="{{project.getName}}">
                </div>
            </div>

            <div class="row">     
                <div class="two columns">
                    <label for="description">Description</label>
                </div>
                <div class="ten columns">
                    <input class="u-full-width" type="text" id="description" name="description" value="{{project.getDescription}}">
                </div>
            </div>

            <div class="row">    
                <div class="two columns">
                    <label for="start-date">Date de début</label>
                </div>
                <div class="ten columns">
                    <input class="u-full-width" type="text" id="start-date" name="start-date" value="{{project.getStartDate|date('d M Y')}}">
                </div>
            </div>

            <div class="row">    
                <div class="two columns">
                    <label for="end-date">Date de fin</label>
                </div>
                <div class="ten columns">
                    <input class="u-full-width" type="text" id="end-date" name="end-date" value="{{project.getEndDate|date('d M Y')}}">
                </div>
            </div>    


            <a class="button button-primary" href="/projects">Retour</a>
            <a class="button button-primary" href="/projects/delete/{{project.getId}}">Supprimer</a>
            <input class="button-primary" type="submit" value="Save">
        
        </form>   
    </div>           
                



<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

