<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Détails Utilisateur</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

    <div class="container">


        <div class="row">
            <div class="one-half column" style="margin-top: 15%">
                <h4>Affichage utilisateur</h4>
            </div>
        </div>

        <form action="/users/update/{{user.getId}}" method="POST">
            <div class="row">            
                <div class="two columns">
                    <label for="last_name">Nom</label>
                </div>
                <div class="ten columns">
                    <input class="u-full-width" type="text" id="last_name" name="last_name" value="{{user.getLastName}}">
                </div>
            </div>

            <div class="row">     
                <div class="two columns">
                    <label for="first_name">Prénom</label>
                </div>
                <div class="ten columns">
                    <input class="u-full-width" type="text" id="first_name" name="first_name" value="{{user.getFirstName}}">
                </div>
            </div>

            <div class="row">    
                <div class="two columns">
                    <label for="email">Email</label>
                </div>
                <div class="ten columns">
                    <input class="u-full-width" type="text" id="email" name="email" value="{{user.getEmail}}">
                </div>
            </div>

            <a class="button button-primary" href="/users">Retour</a>
            <a class="button button-primary" href="/users/delete/{{user.getId}}">Supprimer</a>
            <input class="button-primary" type="submit" value="Save">
        
        </form>   
    </div>           
                



<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

