<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Users</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 15%">
        <h4>Liste des utilisateurs</h4>
      </div>
    </div>

    <div class="row">
        <div class="column">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>
                            <a href="/users/add/" class="button button-primary">Créer user</a></button>                        
                        </th>
                    </tr>
                </thead>

                <tbody>
{% for user in users %}
                    <tr>
                        <td>{{user.getLastName}}</td>
                        <td>{{user.getFirstName}}</td>
                        <td>{{user.getEmail}}</td>
                        <td>
                            <a class="button button-primary" href="/users/edit/{{user.getId}}">Edit</a>
                            <a class="button button-primary" href="/users/{{user.getId}}/projects">Projets</a>
                            <a class="button button-primary" href="/users/{{user.getId}}/tasks">Taches</a>
                        </td>
                    </tr>
{% endfor %}
                    
                </tbody>
            </table>
         </div>
    </div>




<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

